@model Bincom_CV.Models.CV

<div class="column-12 offset-2">
<h1>Mustapha Babatunde CV</h1>
  
    <p>Email: @Model.Email</p>
    <p>Phone: @Model.Phone</p>
    <h2>Profile</h2>
    <p>@Model.Profile</p>
    <h2>Skills</h2>
   

</div>
